<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.ast.protean.ma.qsg2020pdf">
    <require plugin="org.dita.pdf2"/>
	<require plugin="org.dita.pdf2.axf"/>
    <feature extension="dita.conductor.transtype.check" value="protean_ma_qsg2020pdf"/>
    <feature extension="dita.transtype.print" value="protean_ma_qsg2020pdf"/>
    <feature extension="dita.conductor.target.relative" file="build.xml"/>
    <feature extension="dita.xsl.strings" file="cfg/common/vars/ast-strings.xml"/>
    <feature extension="dita.xsl.xslfo" file="cfg/fo/xsl/ast-pagebreak.xsl" type="file" />
</plugin>