@charset "utf-8";
#main {
    width: 1170px;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 15px;
    font-size: 17px;
    background-color: #fff;
    word-break: break-all;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

#main::before {
    content: "";
    display: block;
    padding-top: 96px;
}

@media all and (max-width: 1024px) {
    #main::before {
        padding-top: 48px;
    }
}

@media all and (max-width: 540px) {
    #main::before {
        padding-top: 96px;
    }
}

section.cont {
    /* overflow-y: scroll; */
    margin-top: 0;
}

#top {
    position: absolute;
    top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 20px;
}

#main a {
    color: #337ab7;
}

td {
    font-size: 15px;
}

b {
    color: #1b7b6f;
}

.b-b {
    color: #000;
}

#main li {
    font-size: 17px;
}

#main ol {
    margin-left: 15px;
}

#main ol li {
    font-size: 17px;
}

#main ul li {
    list-style: inside;
    font-size: 17px;
}

#main p {
    font-size: 17px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
}

h4 p {
    font-size: 17px;
}

.go-home img {
    margin: 15px;
}


/* add */

.C-Line {
    text-decoration: underline
}

.numbered_1,
.numbered_2,
.numbered_3,
.numbered_4,
.numbered_5,
.numbered_6,
.numbered_7,
.numbered_8,
.numbered_9,
.numbered_10,
.numbered_11,
.numbered_12,
.numbered_13,
.numbered_14,
.numbered_15,
.numbered_16,
.numbered_17,
.numbered_18,
.numbered_19,
.numbered_20,
.numbered_21,
.numbered_22,
.numbered_23,
.numbered_24,
.numbered_25 {
    padding-right: 4px;
    font-weight: bold;
}

.OrderList_1_pa_Super p span.numbered_1 {
    font-size: 10px;
    top: -10px;
    position: relative;
    padding-right: 10px;
}

.search-container span.fa {
    top: 2px;
    right: 10px;
    z-index: 9999;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.C_Notrans_NoBold {
    display: block;
    padding-left: 20px;
}

.C_Image {
    width: auto;
    height: 23px;
    text-indent: 0;
}

span img {
    margin: 1px 0;
}

.Img-C {
    text-align: center;
    margin: 20px 0;
}

.Table_Procedure .Img-C {
    margin: 10px 0;
}

.Img-L.img-size {
    text-align: left;
}

.Img-L.img-size img {
    width: 25%;
    margin-left: 20px;
}

.C_Note {
    width: 25px;
    height: auto;
}

.Description .C_Note {
    width: 26px;
    height: auto;
}


/* img 2016-12-13  2016-12-20*/

img.img50 {
    width: 50%;
    max-width: 50%
}


/* img[src*="contents/images/Memory_remo_new.png"] {
    border: 1px solid #999;
    border-radius: 3px;
} */


/* img[src*="contents/images/C_images_arrow.png"] {
    width: 23px;
    height: auto;
} */

.Note_Heading .C_Image {
    width: 30px;
    height: auto;
}

.C_URL {
    color: #337ab7;
    font-weight: bold;
}

.Heading4,
.Description-Bold_PL,
.Description-Bold_PL_Indent1,
.C-Bold,
.C_Notrans,
.C_Font_Refer-bold {
    font-weight: bold;
}

.Heading1,
.Heading4 {
    font-size: 17px;
}

.Note_Heading,
.Warning_Heading {
    font-size: 17px;
    font-weight: bold;
    margin: 30px 0 10px 0;
    color: #00ADEC;
}

div [data-highlight='C-BackGrey10'] p {
    margin-left: 22px;
    text-indent: -22px;
}

div [data-highlight='C-BackGrey10'] {
    background: #f3f3f3;
}

div [data-highlight='Heading3_NoTOC_InContent'] {
    background-color: #d8d8d8;
}

div [data-highlight='Heading3_NoTOC_InContent'] .bulletlist p {
    margin-left: 18px;
    margin-top: 6px;
    text-indent: -10px;
}


/* list indent device width */

@media all and (min-device-width:1280px) {
    div [data-highlight='C-BackGrey10'] p {
        margin-left: 24px;
        text-indent: -12px;
    }
}


/* 안전 indent */

.C_Image_PL {
    vertical-align: top;
    margin-left: -30px;
    margin-right: 10px;
    height: auto;
    width: 20px;
    display: inline;
    position: absolute;
}

.Heading3_NoTOC_InContent .Description,
.Heading3_NoTOC_InContent .Description_Cell {
    margin-bottom: 0;
}

.Heading3_NoTOC_InContent .Empty_Indent1 {
    margin-left: 33px;
}

.Heading3_NoTOC_InContent .Noteobject {
    width: 28px;
    height: auto
}


/* 경고 상단 여백 */

#main section h4+.Warning_Heading {
    margin-top: 20px;
}


/* table */

table,
td,
th {
    border-collapse: collapse;
}

table {
    margin: 10px 0 20px 0;
}

table td {
    padding: 0 8px;
}

table td {
    word-break: break-all;
}

table .C_Image {
    height: 35px;
    /* 2018-02-22 */
    width: auto;
}

table.Table_Description .C_Image {
    height: 15px;
    width: auto;
    margin-bottom: 5px;
}

.Table_Description {
    border: 1px solid #ddd;
    width: 100%;
}

.Table_Description td {
    border: 1px solid #ddd;
    padding: 8px;
}

.Table_Description td.Common_Cell-Grey10 {
    background-color: #d8d8d8;
    text-align: left;
    /*text-align: center; 2018-03-13해제 */
}

table.Table_Description[data-paragraph="Empty"] tr:nth-of-type(1) td {
    /*text-align: center;*/
}


/*2018-03-07 추가*/

table.Table_Description_2 .C_Image {
    height: 15px;
    width: auto;
    margin-bottom: 5px;
}

.Table_Description_2 {
    border: 1px solid #ddd;
    width: 100%;
}

.Table_Description_2 td {
    border: 1px solid #ddd;
    padding: 8px;
}

.Table_Description_2 td.Common-Cell_Grey10 {
    background-color: #c9cacb;
    text-align: left;
}

table.Table_Description_2[data-paragraph="Empty"] tr:nth-of-type(1) td {
    text-align: left;
}

.Description_Cell-C {
    text-align: center;
}

div.Empty_Indent1 {
    margin-left: 20px;
}

.Heading4_NoTOC_InContent div.Noteobject,
div.Noteobject {
    text-align: left;
    margin: 10px 0 20px 0;
    /* 2018-02-14 */
}

table td.Cell_Description .Img-C {
    margin: 0
}

.Table_Accessory .c5-col1,
.Table_Accessory .c5-col3,
.Table_Accessory .c5-col5 {
    width: 30%
}

.Table_Accessory .c5-col2.Table_Accessory .c5-col4 {
    width: 5%
}

.search-container {
    margin: 15px 10px 25px 10px;
}

.search-container .search-box {
    border-radius: 13px;
    border: 2px solid #ffffff;
    height: 32px;
    line-height: 17px;
    background-color: #000000;
    font-size: 15px;
    color: #ffffff;
    padding: 1px 20px 3px 15px;
}

.search-container .search-box::-webkit-input-placeholder {
    color: #595757;
}

.search-container .search-box:-moz-placeholder {
    /* Firefox 18- */
    color: #595757;
}

.search-container .search-box::-moz-placeholder {
    /* Firefox 19+ */
    color: #595757;
}

.search-container .search-box:-ms-input-placeholder {
    color: #595757;
}

.inner-addon {
    position: relative;
}

.inner-addon .fa {
    position: absolute;
    padding: 5px 0px;
    z-index: 100;
    font-size: 17px;
    cursor: pointer;
}

.left-addon .fa {
    left: 7px;
}

.right-addon .fa {
    right: 7px;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

.navbar-footer {
    min-height: 36px;
}

.navbar-footer #main {
    padding: 0;
}

.navbar-footer #main div {
    margin-top: 3px;
}

.shap-target {
    display: block;
    position: relative;
}

h4.Heading2-Noline_NoTOC_InContent shap-target {
    border: none;
    font-weight: bold;
}

h4.Heading2 shap-target {
    border-bottom: 1px solid #00adec;
    color: #000;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 40px;
    padding-bottom: 5px;
}

@media (max-width: 768px) {
    img.img50 {
        width: 50%;
        max-width: 50%;
    }
    .shap-target {
        /* top: -70px; */
    }
    h4.shap-target.remove-space {
        /* top: 0; */
    }
    h2.shap-target {
        /* padding-top: 70px;
        margin-bottom: -60px !important; */
    }
    h4.shap-target {
        padding-top: 70px;
        /* margin-bottom: -60px !important; */
        font-weight: bold;
    }
    h4.shap-target.remove-space {
        padding-top: 0;
        /* padding-bottom: 10px; */
        margin-bottom: 10px;
        font-weight: bold;
    }
    div [data-highlight="C-BackGrey10"]>h4.shap-target {
        top: 0;
        padding-top: 0;
        margin-bottom: 0 !important;
    }
}

#main section {
    margin-bottom: 100px;
}

#main section p,
.Description_Cell {
    font-size: 17px;
}

#main section p img.img-responsive {}

#main section p img.width100 {
    width: 100%;
}

@media (max-width: 768px) {
    #main section p img.img-responsive {}
    #main section p img.width100 {
        width: 100%;
    }
}

#main section h1.Chapter,
h1.Story {
    font-weight: bold;
    color: #00adec;
    font-size: 24px;
    margin-bottom: 40px;
}


/* 2dep */

#main>section h2.shap-target {
    font-weight: bold;
    color: #000000;
    border-bottom: 2px solid #00adec;
    color: #000000;
    font-size: 20px;
    /* font-weight: bolder;*/
    margin-bottom: 18px;
    padding-bottom: 8px;
    margin-top: 40px;
    font-weight: bold;
}


/* 3dep */

.Heading2>h4.shap-target,
.Heading2.shap-target {
    border-bottom: 1px solid #999;
    margin-bottom: 5px;
    margin-top: 40px;
    padding-bottom: 4px;
    font-size: 19px;
    font-weight: bold;
}

h4 {
    font-size: 19px;
}

h4[class*="Heading3_NoTOC_InContent"] {
    font-size: 18px;
}

#main section h4.info {
    color: #333;
    border-bottom: none;
    margin-bottom: 5px;
    margin-top: 40px;
    font-weight: bold;
}

#main section h4.success {
    font-weight: bold;
    color: #333;
    border-bottom: none;
    margin-bottom: 5px;
    margin-top: 40px;
}

#main section div table thead tr th,
#main section div table tbody tr td {
    vertical-align: middle;
}

.table-icon tbody tr th {
    text-align: left;
    width: 120px;
}

.table-icon tbody tr td {
    font-size: 17px;
    /*font-weight: bolder;*/
    vertical-align: middle;
    font-weight: bold;
}

thead tr th {
    font-size: 15px;
}

tbody tr th {
    font-size: 16px;
}

tbody tr td {
    font-size: 16px;
}

#main section .alert .icon {
    margin-top: 0px;
}

#main section .alert .icon p {
    margin-top: 20px;
}

@media (max-width: 768px) {
    #main section .alert .icon p {
        margin-top: 10px;
    }
}

#main section .line-normal {
    line-height: normal;
}

#main ol {
    font-size: 18px;
}

#main ol,
#main ul {
    padding-left: 10px;
}

#main ul {
    font-size: 15px;
}

.top-5 {
    margin-top: 5px;
}

.top-10 {
    margin-top: 10px;
}

.bottom-10 {
    margin-bottom: 10px;
}

.nopadding {
    padding: 0;
}

section .alert ul {
    padding-left: 15px;
}

.table-noline thead tr th,
.table-noline thead tr td,
.table-noline tbody tr th,
.table-noline tbody tr td {
    border: none;
}

.table-default thead tr th {
    text-align: center;
    background-color: #c9cacb;
}

.table-default tbody tr th {
    text-align: center;
}

.table-default tbody tr th {
    text-align: center;
}

.circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 2px;
    background: #000000;
    color: #fff;
    text-align: center;
    display: inline-block;
}

.img-border {
    border: 1px solid #aaabab;
    border-radius: 10px;
    padding: 3px;
}

.danger_box_01 {
    width: auto;
    border-radius: 5px;
    padding: 25px 2px 25px 0px;
    font-size: 18px;
}

.img-r img {
    border: 1px solid #999;
    border-radius: 3px;
}

ul.indent li {
    list-style-position: outside;
    margin-left: 1em;
}

ul.dashed {
    list-style-type: none;
}

ul.dashed>li {
    text-indent: -11px;
}

ul.dashed>li:before {
    content: "- ";
    text-indent: -10px;
}

ul.indent li ul.indent2 li {
    list-style-position: inside;
    text-indent: -0.6em;
    padding-left: -0.6em;
}

#con_08 p {
    font-size: 18px;
}

.row img {
    border: 1px solid #aaabab;
    border-radius: 10px;
    padding: 10px;
}

.bbb {
    font-size: 20px;
    color: #000;
}

.bbb2 {
    font-size: 18px;
    color: #000;
}

.wi-p {
    text-indent: -0.5em;
    padding-left: 1.7em;
}

div ul li ul li {
    list-style: none;
}

ul>li>p>ul>li {
    list-style: none;
}

ul.ul-h {
    list-style: none;
    margin-left: 0;
    padding-left: 1.5em;
}

ul.ul-h>li:before {
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

ul li .img-top {
    margin-bottom: 3px;
}

.C_URL {
    word-break: break-all;
}

.navbar-inverse {
    background-color: #eee;
    border: 0;
}

footer #main>div {
    color: #000
}


/* 2017-06-16 */

img.ImageResize_1 {
    width: 60%;
}

img.ImageResize_2 {
    width: 50%;
}

img.ImageResize_3 {
    width: 50%;
}

.Heading3_NoTOC_InContent .Heading3_NoTOC_InContent {
    /* text-decoration: underline; */
}

h4.Heading3_NoTOC_PL_InContent {
    text-decoration: underline;
    ;
    margin-top: 30px
}

h4.Heading3_NoTOC_InContent {
    display: inline-block;
    border-bottom: 1px solid #000;
}

.Heading2-Noline_NoTOC_InContent h4.Heading2-Noline_NoTOC_InContent {
    font-weight: bold;
}

.Heading2-Noline_NoTOC_InContent h4.Heading4_NoTOC_InContent {
    text-decoration: underline;
}

.Img-L {
    margin: 10px 0
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin: 20px 0;
}

.Heading3-Noline_NoTOC_InContent .Heading3-Noline_NoTOC_InContent,
.see-page a,
.Description-Bold_PL_Indent1,
.C_Font_Refer-Bold {
    font-weight: bold;
}


/*  pc*/

@media (min-width:767px) {
    img.ImageResize_1 {
        width: 30%;
    }
    img.ImageResize_2 {
        width: 20%;
    }
    img.ImageResize_3 {
        width: 20%;
    }
    table.Table_Description .C_Image {
        height: auto;
        width: 23px;
    }
    /* 2018-03-07 추가 */
    table.Table_Description_2 .C_Image {
        height: auto;
        width: 23px;
    }
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        margin: 10px 0;
    }
}

div.Noteobject img {
    display: block;
}

div.Noteobject img:nth-of-type(1) {
    margin-right: 10px;
    margin-top: 10px;
}

div.Noteobject img:nth-of-type(2) {
    margin-top: 10px;
}

@media (min-width:578px) {
    div.Noteobject img:nth-of-type(2) {
        /*margin-left:10px;margin-top:0;2018-02-14*/
    }
}


/* img[src*="contents/images/17_1.png"] {
    height: 11px !important
}

table .Cell_Img_Center img[src*="contents/images/Wind_Close.png"] {
    display: block;
    margin: 0 auto;
}

table .Cell_Img_Center img[src*="contents/images/Wind_Open.png"] {
    display: block;
    margin: 0 auto;
} */

.UnorderList_1 .C_Image {
    width: 18px;
    height: auto;
}

.Table_Step tr td:nth-child(1) {
    display: none
}

.Table_Step .Description_Cell,
.Table_Step .Description {
    padding-top: 20px;
}


/* img[src*="contents/images/senserloading05_good.png"] {
    width: 266px !important;
    height: auto;
} */

h4.Heading2_NoTOC_InContent,
h4.Heading3_NoTOC_InContent {
    font-weight: bold;
}

.Heading4_NoTOC_Cell_InContent {
    font-weight: bold;
    text-decoration: underline;
}

.Heading2_NoTOC_InContent.shap-target {
    border-bottom: 1px solid #999;
}

.Heading2.shap-target {
    border-bottom: 1px solid #999;
}

.graybox {
    padding: 10px
}

.graybox+.graybox {
    margin-top: 20px;
}

.Heading3-Noline_NoTOC_InContent .shap-target {
    font-weight: bold;
}

.C_Image_SEG {
    height: 15px !important
}

h4.Heading3-Noline_NoTOC_InContent {
    color: #1AA2DA
}


/*
img[src*="contents/images/senserloading05_good.png"]{margin-left:18px}*/

.Table_Procedure td {
    padding: 0
}

.UnorderList_2_Indent1_Cell+table[data-paragraph="Empty_Indent1"] td {
    padding: 5px;
}

.C_Resize-40 {
    width: 40%
}

.C_Resize-50 {
    width: 50%;
}

.C_Resize-60 {
    width: 60%
}


/* 2017-08-16 */

.Description,
.Description_PL,
.Description-Bold_PL_Indent1,
.UnorderList_1_PL,
.UnorderList_1_PL_Indent2,
.Empty_PL_Indent2,
.Heading3_NoTOC_PL_InContent {
    margin: 0 0 10px 0;
    position: relative
}

.Description+.Description_PL {
    margin-top: 30px;
}

.Description_Indent1,
.Description_PL p,
.UnorderList_1_PL_Indent2 p,
.Empty_PL_Indent2 p {
    padding-left: 13px;
    margin-top: -10px;
}

.UnorderList_1_PL p,
.Heading3_NoTOC_PL_InContent p,
.Description-Bold_PL~.UnorderList_1_PL_Indent2 p {
    padding-left: 13px;
    margin-top: 0;
}

.Description-Bold_PL_Indent1 {
    margin-left: 30px;
}

.Description-Bold_PL_Indent1 p {
    display: block;
    margin-bottom: 10px;
}

.Description-Bold_PL_Indent1 img.C_Image_PL {
    margin-left: -30px;
    display: inline;
}

.Description-Bold_PL_Indent1 img.Noteobject+p {
    display: block;
    position: relative;
}

.Description-Bold_PL_Indent1 p:last-of-type {
    margin-bottom: 0 !important;
}

div.Heading3_NoTOC_PL_InContent .Description_Cell,
div.Heading3_NoTOC_PL_InContent .Description-Bold_PL_Indent1,
div.UnorderList_1_PL~.Description-Bold_PL_Indent1,
div.Warning_Heading~.Description-Bold_PL_Indent1 {
    margin-left: 30px;
}

table .Description_Cell,
table .Description-Bold_PL_Indent1 {
    margin-left: 0
}

table .UnorderList_1_Cell {
    margin-left: 15px;
}


/* 2018-02-22 */

div.Heading3_NoTOC_PL_InContent div.Noteobject,
.Description-Bold_PL+div.Noteobject {
    text-align: left;
    margin: 20px 0 20px 30px;
}

.OrderList_02_Cell {
    margin-bottom: 10px;
}

.OrderList_02_Cell p {
    margin-left: 20px;
    text-indent: -20px;
}

.UnorderList_2_Cell {
    margin-bottom: 10px;
}

.UnorderList_2_Cell p {
    margin-left: 24px;
    text-indent: -12px;
}

.UnorderList_1 {
    margin-bottom: 10px;
}

.UnorderList_1 p {
    margin-left: 18px;
    margin-top: 6px;
    text-indent: -10px;
}

.UnorderList_2_Indent1,
.UnorderList_2_Indent1_Super {
    padding-left: 20px;
    /* 2018-02-22 */
    margin-bottom: 10px;
}

.UnorderList_2_Indent1 p,
.UnorderList_2_Indent1_Super p {
    margin-bottom: 0;
    margin-left: 10px;
    text-indent: -10px;
}

.UnorderList_2_Indent1 {
    padding-left: 20px;
    /* 2018-02-22 */
    margin-bottom: 10px;
}

.UnorderList_2_Indent1 p {
    margin-bottom: 0;
    margin-left: 10px;
    text-indent: -10px;
}


/* 2018-02-22
.UnorderList_1 + .UnorderList_2_Indent1p{
	margin-bottom:0;
	margin-left:18px;
	text-indent:-10px
 }*/


/* .UnorderList_1_PL, */

.UnorderList_1_Cell {
    margin-bottom: 10px;
    margin-left: 9px
}


/* .UnorderList_1_PL p, */

.UnorderList_1_Cell p {
    margin-left: 10px;
    text-indent: -10px;
}

.UnorderList_2_Indent1_Cell {
    margin-bottom: 10px;
    padding-left: 15px;
    /* 2018-02-22 */
}

.UnorderList_2_Indent1_Cell p {
    margin-left: 20px;
    text-indent: -10px;
}

.UnorderList_1_Indent1 {
    margin-bottom: 10px;
}

.UnorderList_1_Indent1 p {
    margin-left: 10px;
    text-indent: -10px;
}

.UnorderList_1_PL p,
.UnorderList_1_PL_Indent2 p {
    margin-left: 25px;
    text-indent: -10px;
}

.Heading3_NoTOC_InContent .UnorderList_1_Indent1 p {
    margin-left: 42px;
}

.Heading3_NoTOC_InContent .UnorderList_1_Cell p,
.Heading3_NoTOC_InContent .Description_Indent1 {
    margin-left: 18px;
}

.OrderList_01 p {
    margin-left: 22px;
    text-indent: -22px;
}

.OrderList_02 p {
    margin-left: 22px;
    text-indent: -22px;
}

div [data-highlight='C-BackGrey10'] p {
    margin-left: 24px;
    text-indent: -12px;
}

.Description {
    margin: 0 0 10px 0;
    position: relative;
}

.Description-Bold_PL,
.Description_PL_Indent2 {
    margin-left: 30px;
}

.Description_Indent1 {
    padding-left: 20px;
    margin-top: -10px;
}

.C-Line-Bold {
    text-decoration: underline;
    font-weight: bold;
}

.UnorderList_2_Indent1_Cell+.Description_Indent1 {
    padding-left: 34px
}


/* 2018-02-26 추가수정*/

.OrderList_1 p,
.OrderList_2 p {
    text-indent: -12px;
    margin-left: 12px
}

.OrderList_2+.UnorderList_1_Indent1 {
    margin-left: 20px;
}


/* 2018-02-13 C_Image-W 추가  table padding img size */

.C_Image-W {
    height: 25px;
    width: auto;
}

.C_Image-W_L {
    height: 18px;
    width: auto;
}

.UnorderList_1 .C_Image-W {
    height: 18px;
}

table.Table_Procedure[data-paragraph="Empty"] td,
.UnorderList_1+table.Table_Procedure[data-paragraph="Empty_Indent1"] td,
table.Table_Procedure[data-paragraph="Empty_Indent2"] td {
    padding: 3px;
}

table.Table_Procedure[data-paragraph="Empty_Indent2"] td:first-of-type {
    padding-left: 0;
}

table[data-paragraph="Empty_Indent1"] {
    margin-left: 20px;
}

.Table_Description[data-paragraph="Empty_Indent1"] {
    margin-left: 20px;
    width: calc(100% - 20px);
}


/* img[src*="BORA_PJT_LCD_Button_06_NEW.png"] {
    height: 18px !important;
    width: auto;
} */


/* 2018-02-14 */

.Description-Bold_PL_Indent1+.Description_PL,
.UnorderList_1_PL_Indent2+.Description_PL {
    margin-left: 35px;
    text-indent: -10px;
}

.Description_Indent2 {
    margin-bottom: 10px;
    margin-left: 35px
}


/* Description_Cell-HeadCenter */

.Description_Cell-HeadCenter {
    font-weight: bold;
    text-align: center;
}


/* 2018-02-26 */


/* img[src*="contents/images/Box_Num.png"] {
    height: 18px !important;
} */


/* 2018-03-06 Temporary Gray Background*/

section#bg_gray {
    background-color: #F3f3f3;
    margin-bottom: 0 !important
}

.bg_gray {
    background-color: #F3f3f3;
    margin-bottom: 0 !important
}


/* img[src*="goodsleep_001_NEW.png"] {
    height: 18px !important;
    width: auto;
}

img[src*="BORA_PJT_LCD_Button_02_NEW.png"] {
    height: 18px !important;
    width: auto;
} */


/* 2018-02-20 간단매뉴얼 테스트 */

.navbar-fixed-top-simple,
.navbar-footer-simple {
    display: block !important;
}

body.submanual {
    padding-right: 0 !important;
}

.sub-container {
    padding-top: 54px;
    width: 1280px;
    margin: 0 auto;
}

.go-home1 img {
    margin: 15px;
}


/* 2018-03-06 추가 */

.simple-title {
    position: absolute;
    top: 70px;
    left: 0px;
    background-color: #666;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    display: block;
    padding: 5px 0 5px 10px;
}

@media (max-width:767px) {
    .simple-title {
        font-size: 23px;
    }
}


/* 2018-04-02 추가 */

.OrderList_1-Bold-11pt {
    font-weight: bold;
    color: #1AA2DA;
    margin-top: 10px;
}

.OrderList_1-Bold-11pt p {
    margin-left: 10px;
    text-indent: -10px;
}

.OrderList_2-Bold-11pt {
    font-weight: bold;
    color: #1AA2DA;
}

.OrderList_2-Bold-11pt p {
    margin-left: 10px;
    text-indent: -10px;
}

.OrderList_1_pa p {
    margin-left: 18px;
    text-indent: -17px;
}

.OrderList_2_pa p {
    margin-left: 18px;
    text-indent: -18px;
}

.Heading2_NoTOC_InContent~div.Img-L,
.Heading2_NoTOC_InContent div.Img-L {
    margin-left: 20px;
}


/* FAC */

.Table_Procedure[data-paragraph="Empty_Indent1"] {
    margin-left: 20px;
}

.Table_Procedure[data-paragraph="Empty_Indent2"] {
    margin-left: 32px;
}


/* .Description_Indent1+.Noteobject,
p+.Noteobject,
img[src*="Time_airflow_Cool.png"] {
    padding-left: 15px;
} */


/* 상기 주석 부분 수정 시작 */

.Description_Indent1+.Noteobject {
    padding-left: 15px;
}

p+.Noteobject {
    padding-left: 18px;
}


/* 상기 주석 부분 수정 끝 */

.Description-Bold_PL_Indent1 p+img.Noteobject {
    padding-left: 0;
}

div [data-highlight='Heading3_NoTOC_InContent'] {
    background-color: #d8d8d8;
}

div [data-highlight='Heading3_NoTOC_InContent'] .bulletlist {
    margin-left: 10px;
}

.graybox+.graybox {
    margin-top: 20px;
}

.UnorderList_1_Indent1 p {
    margin-left: 30px;
}


/* .Noteobject[src*="contents/images/AF9500M_BORA_03_NEW.png"],
.Noteobject[src*="contents/images/BORA_PJT_REMO_LED_Error_C101.png"],
.Noteobject[src*="contents/images/Safety_ODU.png"] {
    display: block;
} */

.Note_Heading,
.Warning_Heading {
    margin-top: 10px;
}

.Description_Indent1,
.Description_PL p,
.UnorderList_1_PL_Indent2 p,
.Empty_PL_Indent2 p,
.Heading3_NoTOC_PL_InContent p {
    margin-top: -10px;
}

.C_Image-H {
    height: 70px;
}

.C_Image-H_L {
    width: auto;
    height: 23px;
}


/* 220419 - Table_WEEE 스타일 추가 */

table.Table_WEEE {
    border: 1px solid #000;
    border-collapse: separate;
}

.WEEE_Heading {
    text-align: right;
    font-weight: bold;
    font-style: italic;
}


/* 230103 - UnorderList_1_PL 하위에 Description_Indent1 스타일의 인덴트값 설정 */

.UnorderList_1_PL+.Description_Indent1 {
    margin-left: 20px;
}