/backup
/plugins/com.ast.protean.ma.um_en_2020pdf/cfg/common/properties
/plugins/com.ast.protean.ma.um_en_2020pdf/cfg/common/i18n
/plugins/com.ast.protean.ma.um_en_2020pdf/cfg/common/index
/plugins/com.ast.protean.ma.um_en_2020pdf/backup
